* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f8f9fa;
}

.card {
    margin-top: 80px;
    width: 100%;
    height: 500px;
    padding: 25px;
    background-color: #efefefe6;
    margin-bottom: 250px;
}

#quiz-title {
    margin: 90px auto 30px auto;
}

#info {
    text-align: center;
    margin: 0px auto 0px auto;
    width: 70%;
}

#highscores-link {
    color:#4f4fad;
}

#highscores-link:hover {
    color: #4f4fada8;
}

#start {
    margin: 40px auto 60px auto;
    width: 200px;
    height: 80px;
    background-color: #4f4fad;
    color: white;
    font-size: 24px;
    border-radius: 20px;
    border:none;
}

#start:hover {
    cursor: pointer;
    background-color: #4f4fada8;
}

#timer {
   position:absolute;
   top: 0px;
   right: 0px;
   padding: 25px;
   font-size: 24px;
   color: #4f4fad;
}

#highscores-link {
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    text-decoration: underline;
}

#question {
    margin: 90px auto 50px auto;
    display:none;
}

.option {
    display: none;
    margin: 0px auto 22px auto;
    cursor: pointer;
    width: 80%;
    height: 40px;
    background-color: #4f4fad;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    border:none;
}

.option:hover {
    background-color: #4f4fada8;
}

#feedback {
    margin: 0px auto 0px auto;
    font-size: 22px;
}

#quiz-end {
    display: none;
    margin: 90px auto 30px auto;
}

#end-info {
    display: none;
    text-align: center;
    margin: 0px auto 0px auto;
    width: 70%;
}

#enter-name {
    display: none;
    margin: 40px auto 0px auto;
    width: 50%;
    height: 50px;
    padding: 10px;
}

#submit-btn {
    cursor: pointer;
    display: none;
    margin: 40px auto 60px auto;
    width: 160px;
    height: 120px;
    background-color: #4f4fad;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    border:none;
}

#score-display {
    display: none;
    margin: 10px auto 10px auto;
    font-size: 18px;
}

#final-score {
    display: none;
    margin: 10px auto 10px auto;
    font-size: 24px;
    text-align: center;
}


